
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Samurai
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= samurai.name %></li>
      <li class="list-group-item">
        <%= samurai.armor %></li>
      <li class="list-group-item">
        <%= samurai.clan.name %></li>
    </ul>
  </div>
</div>
